---
---
<h1>Message Input</h1>

<p>Current Message: <span id="input-message"></span></p>

<form method="GET">
  <label>
    Message:
    <input type="text" name="message" required />
  </label>
  <button>Submit</button>
</form>

<script>
  import "../scripts/input.js";
</script>