---
export const prerender = false; 

const { searchParams } = new URL(Astro.request.url);
const message = searchParams.get('message');

---
<h1>Message Input</h1>

<p>Current Message: {message}</p>

<form method="GET">
  <label>
    Message:
    <input type="text" name="message" required />
  </label>
  <button>Submit</button>
</form>